<div class="container">
  <div class="top">
    <h1>create a new task</h1>
  </div>
  <div class="#">
    <form action="/<%= @list.id %>/task/create" method="POST">
      <label for="list[name]">Task Name:</label>
      <input type="text" name="task[name]" placeholder="e.g. Buy Bread">
      <input type="submit" value="Add task to list">
    </form>
  </div>
  <div class="bottom">
  </div>
</div>
