<div class="container">
  <div class="top">
    <h1>todo list.</h1>
  </div>
  <div class="middle">
    <form action="/list/create" method="POST">
      <label for="list[name]">List Name:</label>
      <input type="text" name="list[name]" placeholder="e.g. Grocery List"><br><br>
      <input type="submit" value="Create List">
    </form>
  </div>
  <a href="/"><div class="bottom">
    home
  </div></a>
</div>
